<!DOCTYPE html>
<html>
  <head>
    <title>Activity Ladder </title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <link type="image/ico" rel="icon" href="../../../karma/image/favicon.ico" />
    <link type="text/css" rel="stylesheet" href="../../../karma/css/global.css" />
    <link type="text/css" rel="stylesheet" href="../../../karma/css/menu.css" />
    <script type="text/javascript" src="../../../karma/js/external/jquery-1.4.2.js"></script>
    <script type="text/javascript" src="../../../karma/js/external/jquery-ui-1.8.2.js"></script>
    <script type="text/javascript" src="../../../karma/js/karma.js"></script>
    <script type="text/javascript" src="../../../karma/js/global.js"></script>
    <script type="text/javascript" src="../../../subjects.js"></script>
    <script type="text/javascript" src="activities.js"></script>
    <script type="text/javascript" src="../../../karma/js/lesson.js"></script>
  </head>
  <body>
    <div id="header"></div>
    <div id="content">
      <div id="frame" style="position:absolute;top:0px;left:0px"></div>
      <canvas id="ladder" style="position:absolute;top:0px;left:0px"></canvas>
    </div>
  </body>
</html>
